html {
    background-color: #F7EED3;
    color: #674636;
    scroll-behavior: smooth;
}

h3 {
    font-style: italic
}

.navis a {
    display: flex;
    color: #FFF8E8;
    text-align: center;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
}

.navis a:hover {
    background-color: #F7EED3;
    color: #674636;
}

.navis .navdrop {
    display: none;
    color: #674636;
    background-color: #AAB396;
}

.navis .navdrop:hover {
    color: #674636;
    background-color: #F7EED3;
}

header {
    padding: 0.3rem;
    background-color: #674636;
    overflow: hidden;
}

main {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-inline: 0.5rem;
}

footer {
    padding: 0.3rem;
    text-align: center;
    color:#FFF8E8;
    background-color: #674636;
    padding-top: 1rem;;
    padding-bottom: 1rem;
    padding-inline: 2rem;
}

@media only screen and (max-width: 599px) {
    #navigation {
        display:flex; 
        flex-direction: row;
        justify-content: space-between;
    }
    
    .navis a:not(:first-child) {
        display: none;
    }

    .navis a.navdrop {
        display: flex;
    }
    
    .navis.responsive {
        position: relative;
    }

    .navis.responsive a.navdrop {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navis.responsive a {
        display: flex;
        text-align: left;
    }
    
    .flex-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    #content {
        padding: 1rem;
        padding-top: 0rem;
        background-color: #FFF8E8;
    }
    
    aside {
        flex-direction: column;
        justify-items: center;
        display: flex;
        align-items: center;
        text-align: justify;
        padding: 1rem;
        background-color: #FFF8E8;
    }

    .about-text {
        padding-inline: 1rem;
    }
    
    #profile-pic {
        width: 10rem;
        border-radius: 50%;
    }
    
    #obama-tech {
        width: 10rem;
        border-radius: 5%;
    }
    
    #obama-oil {
        width: 10rem;
        border-radius: 5%;
    }
    
    #hackerman {
        width: 10rem;
        border-radius: 5%;
    }
    
    #obama-medal {
        width: 10rem;
        border-radius: 5%;
    }
    
    .disclaimer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .socmed {
        display: flex;
        justify-content: space-around;
    }

    .logo-socmed {
        width: 200%;
    }
}

@media only screen and (min-width: 600px) {
    #navigation {
        display:flex; 
        flex-direction: row;
        justify-content: space-between;
    }
    
    .navis {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .flex-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    #content {
        padding: 1rem;
        padding-top: 0rem;
        background-color: #FFF8E8;
    }
    
    aside {
        flex-direction: column;
        justify-items: center;
        display: flex;
        align-items: center;
        text-align: justify;
        padding: 1rem;
        background-color: #FFF8E8;
    }
    
    .about-text {
        padding-inline: 1rem;
    }
    
    #profile-pic {
        width: 10rem;
        border-radius: 50%;
    }
    
    #obama-tech {
        width: 10rem;
        border-radius: 5%;
    }
    
    #obama-oil {
        width: 10rem;
        border-radius: 5%;
    }
    
    #hackerman {
        width: 10rem;
        border-radius: 5%;
    }
    
    #obama-medal {
        width: 10rem;
        border-radius: 5%;
    }
    
    .disclaimer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .socmed {
        display: flex;
        justify-content: center;
    }
    
    .logo-socmed {
        width: 2rem;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
    }
}

@media only screen and (min-width: 699px) {
    #navigation {
        display:flex; 
        flex-direction: row;
        justify-content: space-between;
    }
    
    .flex-container{
        flex-direction: row;
        justify-content: space-evenly;
    }

    aside {
        max-width: 25%;
        border: 1px solid #674636;
        color: #674636;
        text-align: center;
    }

    .about-text{
        text-align: justify;
        padding-inline: 0rem;
    }
    
    .content-hr-top {
        display: none;
    }
}